/ChatGPT.txt
/first_15_preliminar.json
/models
/prueba.py
/prueba2.py
/prueba3.py
/random_15_preliminar.json
/source_gloss_structure_eng.json
/source_information.json
/source_information_sin_gloss.json
/wei_spa_30_word_genders.csv
/Zephyr-7b-beta.txt
/__pycache__
auxFunctionLibrary/pythonLib/__pycache__/__init__.cpython-310.pyc
auxFunctionLibrary/pythonLib/__pycache__/auxFunctions.cpython-310.pyc
